.project {
    width: 21rem;
    height: 21rem;
    background-color: var(--transparent-color);
    border-radius: 2rem;
    transition: all 0.2s;
    padding: 2rem;
    box-sizing: border-box;
    color: var(--primary-color);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-size: 1.3rem;
        font-weight: 400;
    }

    img {
        height: 8rem;
    }

    .project-label {
        bottom: 0;
        transform: translate3d(0, 100%, 0);
        transition: all 0.2s ease;
        border: none;
        background-color: var(--secondary-color);
        background-color: var(--transparent-color);
        color: var(--primary-color);
        font-size: 1.1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        font-family: Montserrat;
        font-weight: 400;
        position: absolute;
    }

    p {
        transition: all 0.2s;
        display: flex;
        margin: 0;
    }

    .project-status {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        display: flex;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;

        .status-icon {
            width: 1rem;
            height: 1rem;
            border-radius: 100%;
            filter: blur(1px);
            margin-top: 0.1rem;
        }

        &.active {
            color: #48f542;

            .status-icon {
                background-color: #48f542;
            }
        }

        &.onhold {
            color: #eaed32;

            .status-icon {
                background-color: #eaed32;
            }
        }
    }
}

.project:hover {
    cursor: pointer;
    transform: translate3d(0, -1rem, 0);

    p {
        opacity: 0;
    }

    .project-label {
        transform: translate3d(0, -2rem, 0);
        pointer-events: none;
    }
}
